{% extends 'base.html' %}

{% block main %}
{% if user.is_authenticated %}
 <hr />
 <h1>{{user.username}}</h1>
 <video name = {{v.title}} controls preload="none" width='50%' height ='40%'>
 <source src ='{{BASE_URL}}{{MEDIA_URL}}{{v.videofile}}' type='video/mp4'></source>
 </video>
 <form action ="{% url 'video:rev_update' v.id %}" method="POST"> 
 {% csrf_token %}
 <div class='form-row'>
     {{form.body.errors}}
     {{form.body.label_tag}} {{form.body}}
 </div>
 
 <input type='hidden' name='name' value="{{user.id}}">
 <input type="submit" value ="送信" /> 
 </form >
 <a href="{% url 'video:list' %}" class="btn btn-primary" role="button" aria-pressed="true">Back</a>
{% else %}
please login
<a href="{% url 'video:login' %}" class="btn btn-primary" role="button" aria-pressed="true">login</a>
{% endif %}


{% endblock main %}
